<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
        <NavLink class="navbar-brand fw-semibold" href="/">
            <span class="me-2">🖥️</span>PC Components
        </NavLink>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                    Home <span class="visually-hidden">(current)</span>
                </NavLink>
                <NavLink class="nav-link" href="/addEditComponent" Match="NavLinkMatch.Prefix">
                    Add/Edit
                </NavLink>
            </div>
        </div>
    </div>
</nav>